.inputSearch {
	width: 100%;
	height: 2rem;
	border-radius: 0.5rem;
	border: none;
	padding-left: 0.5rem;
}

.dropdown-search-container {
	position: relative;
	width: 100%;
	max-width: 370px;
	margin: 0 auto;
	display: flex;
}

.dropdown-search-results {
	position: absolute;
	width: 100%;
	top: 2.5rem;
	left: 0;
	right: 0;
	background-color: #ffffffff;
	border: 1px solid #4b5943;
	border-radius: 0.5rem;
	max-height: 10rem;
	overflow-y: auto;
	z-index: 1000;
	list-style: none;
	margin: 0;
	padding: 0;
}

.dropdown-search-results li {
	padding: 0.5rem;
	cursor: pointer;
}

.dropdown-search-results li:hover {
	background-color: #8fb43a;
	color: white;
}

.search-forms {
	display: flex;
	flex-direction: row;
	gap: 10%;
	justify-content: center;
}

.search-forms > * {
	padding: 2rem;
}

.search-form {
	align-items: center;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: space-between;
}

.search-form h1 {
	margin: 0;
}
.city-search-container {
	margin-bottom: 4rem;
}
